<?xml version="1.0" encoding="utf-8"?>
<Media Key="6303dd6f-273a-4c85-b77b-9d4870d37113" Alias="google antigravity" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/googleAntigravity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T16:27:54</CreateDate>
    <NodeName Default="google antigravity" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2alflvkt/google_antigravity.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>